In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({"key1" : ["a", "a", None, "b", "b", "a", None],
   ....:                    "key2" : pd.Series([1, 2, 1, 2, 1, None, 1],
   ....:                                       dtype="Int64"),
   ....:                    "data1" : np.random.standard_normal(7),
   ....:                    "data2" : np.random.standard_normal(7)})
df

   key1  key2     data1     data2
0     a     1 -1.615107 -0.941220
1     a     2 -0.061920  1.095703
2  None     1 -0.393483 -0.135796
3     b     2 -0.677330 -1.014566
4     b     1 -0.418941  0.366511
5     a  <NA>  0.092732  0.788882
6  None     1 -0.369214  0.040118