In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('examples/ex1.txt', nrows=1)

In [10]:
df.head()

   a  b  c  d message
0  1  2  3  4   hello

In [11]:
df.to_csv("examples/out.csv")

In [7]:
parsed = pd.read_csv("examples/csv_mindex.csv", index_col=["key1", "key2"])

In [8]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [13]:
import csv

class my_dialect(csv.Dialect):
    lineterminator = "\n"
    delimiter = ";"
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [14]:
 f = open("examples/ex7.csv")

In [15]:
reader = csv.reader(f, dialect=my_dialect)

In [17]:
import lxml

In [18]:
from lxml import objectify

path = "examples/Performance_MNR.xml"

In [20]:
with open(path) as f:
   ....:     parsed = objectify.parse(f)

In [21]:
root = parsed.getroot()

In [24]:
data = []

skip_fields = ["PARENT_SEQ", "INDICATOR_SEQ",
               "DESIRED_CHANGE", "DECIMAL_PLACES"]
print(dir(root))
for elt in root:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

['AGENCY_NAME', 'CATEGORY', 'DECIMAL_PLACES', 'DESCRIPTION', 'DESIRED_CHANGE', 'FREQUENCY', 'INDICATOR_NAME', 'INDICATOR_SEQ', 'INDICATOR_UNIT', 'MONTHLY_ACTUAL', 'MONTHLY_TARGET', 'PARENT_SEQ', 'PERIOD_MONTH', 'PERIOD_YEAR', 'YTD_ACTUAL', 'YTD_TARGET', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', '_init', 'addattr', 'addnext', 'addprevious', 'append', 'attrib', 'base', 'clear', 'countchildren', 'cssselect', 'descendantpaths', 'extend', 'find', 'findall', 'findtext', 'get', 'getchildren', 'getiterator', 'getnext', 'getparent', 'getprevious', 'getroottree', 'index', 'insert', 'items', 'iter', 'iterancestors', 'iterchildren', 'iterdescendants', 'iterfind', 'itersiblings', 'itertext', 'keys', 'makeelement', 'nsmap', 'prefix', 'remove', 'replace', 'set', 'sourceline', 'tag', 'tail', 'text', 'values', 'xpath']

In [25]:
perf = pd.DataFrame(data)

In [26]:
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,Escalator Availability,Percent of the time that escalators are operat...,2011,12,Service Indicators,M,%,97.0,,97.0,

In [29]:
frame = pd.read_csv("examples/ex1.txt")

In [30]:
frame.to_pickle("examples/frame_pickle")

In [31]:
pd.read_pickle("examples/frame_pickle")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [32]:
xlsx = pd.ExcelFile("examples/ex1.xlsx")

In [35]:
xlsx.sheet_names

['Sheet1']

In [36]:
xlsx.parse(sheet_name="Sheet1")

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [37]:
import requests

url = "https://api.github.com/repos/pandas-dev/pandas/issues"
resp = requests.get(url)
data = resp.json()
data[0]["title"]

"BUG: is_string_dtype(pd.Index([], dtype='O')) returns False"

In [38]:
issues = pd.DataFrame(data, columns=["number", "title",
   .....:                                      "labels", "state"])

In [39]:
issues

,number,title,labels,state
0,54997,"BUG: is_string_dtype(pd.Index([], dtype='O')) ...",[],open
1,54996,BUG: boolean/string value in OdsWriter (#54994),[],open
2,54995,ENH: allow requiring TZ-aware datetimes in to_...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
3,54994,BUG: boolean/string in OdsWriter,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
4,54993,Backport PR #54985 on branch 2.1.x (REGR: roun...,"[{'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgx...",open
5,54992,BUG: pandas groupby.apply return type changes ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
6,54991,BUG: concat zero-copy breaks,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
7,54990,ENH: pyarrow backend zero-copy for multi-index...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
8,54989,Grammatically updated the tech docs,[],open
9,54988,DOC: expanded pandas.DataFrame.to_sql docstring,[],open
10,54987,BUG: `unstack` with `sort=False` fails when us...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
11,54984,ENH: Implement masked algorithm for value_counts,[],open
12,54983,BUG: pct_change showing unnecessary FutureWarning,"[{'id': 1628184320, 'node_id': 'MDU6TGFiZWwxNj...",open
13,54982,REG: filter not respecting the order of labels,"[{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyM...",open
14,54981,BUG: FutureWarning on pct_change() suggests a ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
15,54980,BUG: pandas.DataFrame.filter not outputting it...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
16,54979,BUILD: pandas 2.1.0 has no win32 wheels,"[{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNT...",open
17,54977,ENH: add Series.struct accessor for ArrowDtype...,[],open
18,54976,TYP: fix a few types,[],open
19,54975,ENH: Move factorizing for merge to EA interface,[],open
20,54974,Include pyarrow_numpy string in efficient merg...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
21,54973,BUG: Fix BaseWindowGroupby.aggregate where as_...,[],open
22,54972,Enable Arrow implementation for removeprefix,[],open
23,54970,Please consider using DeprecationWarning rathe...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
24,54966,TST: add test case of ngroup with NaN value,[],open
25,54964,BUG: IntervalIndex.get_indexer incorrectly mat...,[],open
26,54963,Label etiquettes,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
27,54961,REF: Replace args/kwargs in groupby.resample w...,"[{'id': 127681, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
28,54960,ENH: Implement more string accessors through P...,"[{'id': 57522093, 'node_id': 'MDU6TGFiZWw1NzUy...",open
29,54959,BUG: replace na_rep for pd.NA values in `to_st...,[],open

In [40]:
import sqlite3

In [42]:
query = """
CREATE TABLE test
   (a VARCHAR(20), b VARCHAR(20),
   c REAL,        d INTEGER
   );"""

In [45]:
con = sqlite3.connect("mydata.sqlite")
con.execute(query)
con.commit()

OperationalError: table test already exists

In [47]:
data = [("Atlanta", "Georgia", 1.25, 6),
   .....:         ("Tallahassee", "Florida", 2.6, 3),
   .....:         ("Sacramento", "California", 1.7, 5)]

In [48]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [49]:
con.executemany(stmt, data)

In [50]:
con.commit()

In [51]:
cursor = con.execute("SELECT * FROM test")

In [53]:
 rows = cursor.fetchall()
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5